.ui-dialog {
    background-color: #2e353d; 
    border-radius: 8px;  
}

.ui-dialog p{
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.ui-dialog-titlebar {
    background-color: #4f5b69;  
    color: #e1ffff; 
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid #d19b3d; 
    border-radius: 8px 8px 0 0; 
}

 
.ui-dialog-titlebar-close {
    display: none;  
}
 
 
.ui-widget-overlay {
    background:rgb(45, 45, 45) !important;
    opacity: 0.4 !important;  
     
}

 
.ui-dialog {
    z-index: 2000;  
    border-radius: 8px;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);  
    background-color: #fff;  
}

.ui-dialog-titlebar {
    background-color: #333; 
    color: #fff;  
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px 8px 0 0;  
}

 
.ui-dialog-buttonpane {
    background-color: #f5f5f5;  
    padding: 10px;
    border-top: 1px solid #ccc;  
}
.ui-dialog-buttonset{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
tr{
    cursor: pointer !important;
}



.currency-buttons {
    position: fixed;
    right: 10px;  
    top: 50%;
    transform: translateY(-50%);
    z-index: 1050; 
  }
  .currency-buttons *{
    color:  rgba(0, 0, 0, 0.744) !important;
  }

  .currency-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    cursor: pointer;
    border: 2px solid #d19b3d; ;
    
  }

  .currency-button .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: white;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 10px;
  }

  .usd-button {
    background-color: #3168a353;
    color: white;
  }

  .rwf-button {
    background-color: #3333335c;
    color: white;
  }

  .currency-button:hover {
    transform: scale(1.05);  
    transition: transform 0.2s ease-in-out;
  }
  .usd-button:hover {
    background-color: #3168a3;
    color: white !important;
  }

  .rwf-button:hover {
    background-color: #333333;
    color: white !important;
  }

  .toast{
    z-index: 2000;
  }

  .currency-display {
    font-weight:610;
    font-size: 1.1rem;
}