#customer-table thead {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 10;
}
 
#table-search-box{
    display: flex;
    justify-content: flex-end;
    margin-block: 1em;
}
 
#customer-table th, #customer-table td {
    padding: 10px;
}

#customer-table th, #customer-table tr{
    cursor: pointer;
}
 
#table-container {
    overflow-y: auto;
}