.medecine-header{
    display: flex; 
    align-items: center;
     justify-content: space-between; 
     padding: 10px; 
     background-color: #f8f9fa; 
     border-bottom: 1px solid #ddd;
}


.table-show-btn{
    display: none;
  }
@media (max-width: 768px) {
    .medecine-header{
        display: flex; 
        flex-direction: column;
        gap: 1rem;
         
    }
    .medecine-header h3 i{
        display: none;
    }
    .table-show-btn{
        display: inline;
      }
 

}


  
 