
.medecine-search{
    display: inline-flex;
    
}
@media (max-width: 768px) {
    .medecine-search button{
         display: none;
         
    }
    .medecine-search input{
        width: 100%;
    }
    
}

  

 
