.search-box {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff; 
    padding: 10px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);  
}
 
.thead th {
    position: sticky;
    top: 50px;  
    z-index: 5;
    background-color: #f2f2f2;  
    border-bottom: 2px solid #ddd;
}

 
 
 
 
#table-container {
    overflow-y: auto;
}


  .clickable-cell {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.clickable-cell:hover {
    background-color: #f1f1f1;  
    color: #007bff; 
}



tbody tr b{
    display: none;
}
.btn-table-close{
    display: none;
}

#table-container{
    position: relative;
    transition: all 0.3s ease;
    z-index: 1;
    resize: both; 
    overflow: auto; 
    height: 50%; 
    overflow-y: auto; 
   
}

#table-container.pip-mode {
    position: fixed;
    top: 5%;
    right: 10px;
    width: 100%;  
    height: auto;  
    z-index: 1500;
    background-color: #fff;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    resize: both;  
    overflow: auto;
    cursor: grab;
}

#drag-handle {
    background-color: #ddd;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: move; 
    user-select: none;
}
 

#table-container.pip-mode #drag-handle {
    display: block;  
}

.pip-mode .ui-resizable-handle {
    display: block;
    position: absolute;
}
.table-show-btn{
    display: none;
}

thead th {
    border: none !important;
    
  }

#table-search{
    display: inline-flex;
    
}
@media screen and (max-width: 768px) {
 
    tbody tr b{
        display: block;
    }
    tr {
      
        display: flex;
      flex-direction: column;
      margin-bottom: 1em;
      border-radius: 20px;
      background-color: #f8f9fa;  
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
      padding: 1em;  
      border: 1px solid #ddd;
    }

    td {
        display: flex;

        justify-content: space-between;
         
         
    }

     
    .table thead{
        display: none;
    }
   
    #table-container, #pip-toggle{
        display: none;
       
      }
 

    
    
    .btn-table-close{
        display: inline;
    }

    .table-show-btn{
        display: inline;
    }

   
   
        #table-search #search-button{
             display: none;
             
        }
        #table-search input{
            width: 100%;
        }
        
   
  
 
}