{% load static %}
<link rel="stylesheet" href="{% static 'css/customer_form.css' %}">
<div class="col-md-12 mb-3" style="overflow-y: auto; flex: 1; margin-bottom: 10px; height: 70vh">
    <form method="POST" action="{% url 'customer' %}" id="customerForm">
        {% csrf_token %}
        <div class="row">
            <input type="hidden" id="id" name="customer_id" value="">
            <div class="col-md-6 mb-3">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" maxlength="255" required>
            </div>

            <div class="col-md-6 mb-3">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" maxlength="255" required>
            </div>

            <div class="col-md-6 mb-3">
                <label for="date_of_birth" class="form-label">Date of Birth</label>
                <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" required>
            </div>

            <div class="col-md-6 mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="col-md-6 mb-3">
                <label for="phone_number" class="form-label">Phone Number</label>
                <input type="tel" class="form-control" id="phone_number" name="phone_number"  required pattern="+?[1-9]\d{1,14}">
            </div>

            <div class="col-md-6 mb-3">
                <label for="address" class="form-label">Address</label>
                <textarea class="form-control" id="address" name="address" rows="3" required></textarea>
            </div>

            <div class="col-md-6 mb-3">
                <label for="allergies" class="form-label">Allergies</label>
                <textarea class="form-control" id="allergies" name="allergies" rows="3"></textarea>
            </div>
        </div>

      
    </form>
</div>
