{% extends "admin_dashboard.html" %}
{% load static %}
{% block main_content %}
<link rel="stylesheet" href="{%static 'css/customer.css'%}">
    <div class="container mt-0">
        <div  class="customer-header">
            <div>
                <h3><i class="fa fa-users fa-lg"></i> Customer Management</h3>
            </div>
            <div>
                <button class="btn btn-outline-secondary table-show-btn" > <i class="fa fa-table"></i></button>
                <button type="submit" class="btn btn-primary" onclick="submitForm()"> <i class="fa fa-save"></i> Save</button>
                <a href="{% url 'admin_dash' %}" class="btn btn-secondary"> <i class="fa fa-close"></i> Close</a>
            </div>
        </div>

        <div class="row" style="display: flex; flex-direction: column; height: 90vh;">
            {% include 'customer_form.html' %}
            <div id="resizer" style="height: 10px; background: #ccc; cursor: row-resize;"></div>
            {% include 'customer_table.html' %}
        </div>

        <script>
            $(document).ready(function () {
                const $resizer = $('#resizer');
                const $tableContainer = $('#table-container');
                let isResizing = false;

                $("#dialog").dialog({
                    autoOpen: false,  
                    modal: true,     
                    width: 400,       
                    height: 250,     
                    
                });
                const renderCustomers = (customers) => {
                    let el = ``;
                    customers.forEach(customer => {
                        el += `<tr class="customer-row" data-id="${customer.id}">
                                    <td><b>ID</b>${customer.id}</td>
                                    <td><b>First Name</b>${customer.first_name}</td>
                                    <td><b>Last Name</b>${customer.last_name}</td>
                                    <td><b>Date of Birth</b>${customer.date_of_birth}</td>
                                    <td><b>Email</b><a href="mailto:${customer.email}"  class="btn border-0">${customer.email} <i class="fas fa-external-link-alt"></i></a></td>
                                    <td><b>Phone Number</b><a href="tel:${customer.phone_number} "  class="btn border-0">${customer.phone_number} <i class="fas fa-external-link-alt"></i></a></td>
                                    <td><b>Address</b>${customer.address}</td>
                                    <td><b>Allergies</b>${customer.allergies || "None"}</td>
                                    <td><b>Action</b>
                                        <button class="btn btn-outline-danger delete-btn border-0" data-id="${customer.id}">
                                            <i class="fa fa-trash fa-sm"></i> Delete
                                        </button>
                                    </td>
                                </tr>`;
                    });
                    $("#customer-table > tbody").html(el);
                    $(".customer-row").on('click', function () {
                        const customerId = $(this).data('id');
                        $.get("{% url 'get_customer' %}", { id: customerId }, function (response) {
                            if (response.status === 'success') {
                                populateForm(response.customer);
                            } else {
                                showToast('Failed to load customer details.', "danger");
                            }
                        }).fail(()=>showToast('Failed to load customer details.', "danger"));
                    });

                    $(".delete-btn").on('click', function (event) {
                        event.stopPropagation();  
                        const customerId = $(this).data('id');

                        $("#dialog").dialog("option", "title", "Confirm deletion.");
                        $("#dialog").html(`<p>Do you want to delete this customer?</p>`);

                        $("#dialog").dialog("option", "buttons", {
                            Ok: function () {
                                $(this).dialog("close");
                                $.ajax({
                                    url: "{% url 'delete_customer' %}",
                                    type: "DELETE",
                                    data: JSON.stringify({ id: customerId }),
                                    processData: false,
                                    contentType: false,
                                    success: function (response) {
                                        if (response.status === 'success') {
                                            renderCustomers(response.customers.reverse());
                                        } else {
                                            showToast(response.message, "danger");
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        showToast('An error occurred: ' + error, "danger");
                                    }
                                });
                            },
                            Cancel: function () {
                                $(this).dialog("close");
                            },
                        });
                        $("#dialog").dialog("open");
                    });
                };


                $('#search-customer').on('input', function () {
                    let searchValue = $(this).val().toLowerCase();
                    $('#customer-table tbody tr').filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(searchValue) > -1);
                    });
                });
                // Populate form with customer data
                const populateForm = (customer) => {
                    $('#id').val(customer.id);
                    $('#first_name').val(customer.first_name);
                    $('#last_name').val(customer.last_name);
                    $('#date_of_birth').val(customer.date_of_birth);
                    $('#email').val(customer.email);
                    $('#phone_number').val(customer.phone_number);
                    $('#address').val(customer.address);
                    $('#allergies').val(customer.allergies || "");
                };

                // Fetch customers on page load
                $.get("{% url 'get_customers' %}", function (response) {
                    if (response.status === 'success') {
                        renderCustomers(response.customers);
                    } else {
                        showToast('Failed to load customers.', "danger");
                    }
                }).fail(function () {
                    showToast('Error occurred while fetching customers.', "danger");
                });

                // Form submission for add/update customer
                $('#customerForm').on('submit', function (event) {
                    event.preventDefault();

                    if (!validateForm()) {
                        showToast('Please fill in all fields before submitting.', "danger");
                        return;
                    }

                    let formData = {};
                    $('#customerForm').find('input, textarea, select').each(function () {
                        formData[$(this).attr('name')] = $(this).val();
                    });
                    const customerId = $('#id').val();
                    let ajaxOptions = {
                        url: customerId ? "{% url 'update_customer' %}" : "{% url 'add_customer' %}",
                        type: customerId ? 'PUT' : 'POST',
                        data: JSON.stringify(formData),
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            if (response.status === 'success') {
                                showToast(response.message, "success")
                                $('#id').val("")
                                $("#customerForm")[0].reset();
                                const jsonCustomers = customerId ? response.customers : response.customers.reverse();
                                renderCustomers(response.customers.reverse());
                            } else {
                                showToast(response.message, "danger")
                            }
                        },
                        error: function (xhr, status, error) {
                            showToast('An error occurred: ' + error, "danger");
                        }
                    };

                    $.ajax(ajaxOptions);
                });

                function validateForm() {
                    let isValid = true;
                    $('#customerForm').find('input, textarea, select').each(function () {
                        if ($(this).prop('required') && !$(this).val()) {
                            isValid = false;
                            $(this).addClass('is-invalid');
                        } else {
                            $(this).removeClass('is-invalid');
                        }
                    });
                    return isValid;
                }
            });

            function submitForm() {
                $('#customerForm').submit();
            }

            $( "#date_of_birth" ).datepicker({
            dateFormat: "yy-mm-dd"  
            });
        </script>
    </div>
{% endblock %}
