{% load static %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<div id="table-container" class="col-md-12 mb-3" style="height: 40vh; overflow-y: auto; resize: vertical;">
    <table class="table table-bordered" id="customer-table">
        <thead>
            <div id="table-search-box">
                <div><input type="text" aria-label="search-customer" class="form-control" placeholder="Search..."/></div>
                <button class="btn btn-secondary"><i class="fa fa-search"></i> Search</button>
            </div>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Allergies</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>
