{% load static %}
<link rel="stylesheet" href="{%static 'css/customer_table.css'%}">
<div id="table-container" class="col-md-12 mb-3" style="height: 40vh; overflow-y: auto; resize: vertical;">
    
    <table class="table table-bordered" id="medicine-table">
        <thead>
            <div id="table-search-box">
                <div><input type="text" aria-label="search-medicine"  class="form-control" placeholder="Search..."/></div>
                <button class="btn btn-secondary"><i class="fa fa-search"></i> Search</button>
            </div>
            <tr>
                <th>Medicine Name</th>
                <th>Formulation</th>
                <th>Strength</th>
                <th>Batch Number</th>
                <th>Quantity in Stock</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
          
            
        </tbody>
    </table>
</div>
 
