{% extends "admin_dashboard.html" %}
{% load static %}
{% block main_content %}
<link rel="stylesheet" href="{%static 'css/medecine.css'%}">
    <div class="container mt-0">
        <div class="medecine-header">
            <div >
                <h3 class="display-6"><i class="fa fa-pills me-2"></i> Medicine Management</h3>
            </div>
            <div>
                <button class="btn btn-outline-secondary table-show-btn" > <i class="fa fa-table"></i></button>
                <button type="submit" class="btn btn-primary" onclick="submitForm()"> <i class="fa fa-save"></i> Save</button>
                <a  onclick="window.history.back()"   class="btn btn-outline-secondary"> <i class="fa fa-close"></i></a>
            </div>
        </div>

        <div class="row" style="display: flex; flex-direction: column; height: 100vh;">
            {%include 'medicine_form.html'%}
            {%include 'medicine_table.html'%}
        </div>

        <script>
            $(document).ready(function () {
                const $resizer = $('#resizer');
                const $tableContainer = $('#table-container');
                let isResizing = false;

                $("#dialog").dialog({
                    autoOpen: false,  
                    modal: true,     
                    width: 400,       
                    height: 250,     
                    
                });

                const renderMedicines = (medicines) => {
                    let el = ``;
                    medicines.forEach(medicine => {
                        el += `<tr class="medicine-row" data-id="${medicine.id}">
                                    <td><b>ID</b>${medicine.id}</td>
                                    <td> <b>Medicine Name</b>${medicine.name}</td>
                                    <td><b>Formulation</b>${medicine.formulation}</td>
                                    <td> <b>Strength</b>${medicine.strength}</td>
                                    <td><b>Batch Number</b>${medicine.batch_number}</td>
                                    <td><b>Quantity in Stock</b>${medicine.quantity_in_stock}</td>
                                    <td class="currency-display" data-rwf="${medicine.price}"> <b>Price</b>${formattedPrice(medicine.price)}</td>
                                    <td><b>Action</b><button class="btn btn-outline-danger delete-btn btn-sm" data-id="${medicine.id}"><i class="fa fa-trash fa-sm"></i></button></td>
                                </tr>`
                    });
                    $("#medicine-table > tbody").html(el);
                    $(".medicine-row").on('click', function() {
                        const medicineId = $(this).data('id');
                        $.get("{% url 'get_medicine' %}", {id: medicineId}, function(response) {
                            if (response.status === 'success') {
                                populateForm(response.medicine);
                            } else {
                                showToast('Failed to load medicine details.', "success")
                            }
                        }).fail(()=>showToast('Failed to load medicine details.', "danger"))
                    });

                    $(".delete-btn").on('click', function(event) {
                        event.stopPropagation();  
                        const medicineId = $(this).data('id');

                        $("#dialog").dialog("option", "title", "Confirm  deletion.");
                                $("#dialog").html(`<p>Do you want delete this medicine.</p>`);

                                $("#dialog").dialog("option", "buttons", {
                                    Ok: function () {
                                        $(this).dialog("close");
                                        $.ajax({
                                        url: "{% url 'delete_medicine' %}",
                                        type: "DELETE",
                                        data: JSON.stringify({ id: medicineId }),
                                        processData: false,
                                        contentType: false,
                                        success: function(response) {
                                            if (response.status === 'success') {
                                                const jsonMedicines = response.medicines.reverse();
                                                renderMedicines(jsonMedicines);  
                                            } else {
                                                showToast(response.message, "danger")
                                            }
                                        },
                                        error: function(xhr, status, error) {
                                            showToast('An error occurred: ' + error, "danger")
                                        }
                                    });
                                       
                                    },
                                    No: function () {
                                        $(this).dialog("close");
                                    },
                                });
                                $("#dialog").dialog("open");
                                $('#id').val("")
                        
                    });
                };
                $('#search-medicine').on('input', function () {
                    let searchValue = $(this).val().toLowerCase();
                    $('#medicine-table tbody tr').filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(searchValue) > -1);
                    });
                });
                const populateForm = (medicine) => {
                    $('#id').val(medicine.id);
                    $('#name').val(medicine.name);
                    $('#formulation').val(medicine.formulation);
                    $('#strength').val(medicine.strength);
                    $('#expiration_date').val(medicine.expiration_date);
                    $('#batch_number').val(medicine.batch_number);
                    $('#storage_conditions').val(medicine.storage_conditions);
                    $('#manufacturer').val(medicine.manufacturer);
                    $('#active_ingredients').val(medicine.active_ingredients);
                    $('#shelf_life').val(medicine.shelf_life);
                    $('#route_of_administration').val(medicine.route_of_administration);
                    $('#dosage_instructions').val(medicine.dosage_instructions);
                    $('#side_effects').val(medicine.side_effects);
                    $('#packaging_type').val(medicine.packaging_type);
                    $('#quantity_in_stock').val(medicine.quantity_in_stock);
                    $('#price').val(medicine.price);
                    $('#is_prescription_required').prop('checked', medicine.is_prescription_required);
                };
 
                $.get("{% url 'get_medicines' %}", function(response) {
                    if (response.status === 'success') {
                        renderMedicines(response.medicines);
                    } else {
                        showToast('Failed to load medicines.', "danger")
                    }
                }).fail(function() {
                    showToast('Error occurred while fetching medicines.', "danger")
                });

                $('#medicineForm').on('submit', function (event) {
                    event.preventDefault(); 

                    if (!validateForm()) {
                        showToast('Please fill in all fields before submitting.', "danger")
                        return;
                    }
 
                    let formData = {};
                    $('#medicineForm').find('input, textarea, select').each(function() {
                        formData[$(this).attr('name')] = $(this).val();
                    });
                    const medicineId = $('#id').val();

                    formData.is_prescription_required=$("#is_prescription_required").prop("checked")
                    let ajaxOptions = {
                        url: medicineId ? "{% url 'update_medicine' %}" : "{% url 'upload_medicine' %}",
                        type: medicineId ? 'PUT' : 'POST',
                        data: JSON.stringify(formData)  ,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            if (response.status === 'success') {
                                showToast(response.message, "success")
                                $("#medicineForm")[0].reset();
                                $('#id').val("")
                                const jsonMedicines = medicineId ? response.medicines : response.medicines.reverse();
                                renderMedicines(jsonMedicines);
                            } else {
                                showToast(response.message, "danger")
                               
                            }
                        },
                        error: function (xhr, status, error) {
                            showToast('An error occurred: ' + error, "danger")
                        }
                    };

                    $.ajax(ajaxOptions);
                });

                function validateForm() {
                    let isValid = true;
                    $('#medicineForm').find('input, textarea, select').each(function () {
                        if ($(this).prop('required') && !$(this).val()) {
                            isValid = false;
                            $(this).addClass('is-invalid');
                        } else {
                            $(this).removeClass('is-invalid');
                        }
                    });
                    return isValid;
                }
            });

            function submitForm() {
                $('#medicineForm').submit();
            }
        

            $("#quantity_in_stock").on("input", function () {
                if ($(this).val() < 0) {
                    $(this).val(0);
                }
            });
        </script>

    </div>
{% endblock %}
