{%load static%}
<link rel="stylesheet" href="{%static 'css/medicine_form.css'%}">
<div class="col-md-12 mb-3" style="overflow-y: auto; flex: 1; margin-bottom: 10px;height: 70vh">
    <form method="POST" action="{% url 'medicine' %}" id="medicineForm">
        {% csrf_token %}
        <div class="row">
            <input type="hidden" id="id" name="medicine_id" value="">
            
            <div class="col-md-6 mb-3">
                <label for="name" class="form-label">Medicine Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
 
            <div class="col-md-6 mb-3">
                <label for="formulation" class="form-label">Formulation</label>
                <input type="text" class="form-control" id="formulation" name="formulation" required>
            </div>

            
            <div class="col-md-6 mb-3">
                <label for="strength" class="form-label">Strength</label>
                <input type="text" class="form-control" id="strength" name="strength" required>
            </div>

            
            <div class="col-md-6 mb-3">
                <label for="expiration_date" class="form-label">Expiration Date</label>
                <input type="date" class="form-control" id="expiration_date" name="expiration_date" required>
            </div>

          
            <div class="col-md-6 mb-3">
                <label for="batch_number" class="form-label">Batch Number</label>
                <input type="text" class="form-control" id="batch_number" name="batch_number" required>
            </div>
 
            <div class="col-md-6 mb-3">
                <label for="storage_conditions" class="form-label">Storage Conditions</label>
                <textarea class="form-control" id="storage_conditions" name="storage_conditions" rows="3" required></textarea>
            </div>

            
            <div class="col-md-6 mb-3">
                <label for="manufacturer" class="form-label">Manufacturer</label>
                <input type="text" class="form-control" id="manufacturer" name="manufacturer" required>
            </div>

          
            <div class="col-md-6 mb-3">
                <label for="active_ingredients" class="form-label">Active Ingredients</label>
                <textarea class="form-control" id="active_ingredients" name="active_ingredients" rows="3" required></textarea>
            </div>

          
            <div class="col-md-6 mb-3">
                <label for="shelf_life" class="form-label">Shelf Life (Months)</label>
                <input type="number" class="form-control" id="shelf_life" name="shelf_life" required>
            </div>

          
            <div class="col-md-6 mb-3">
                <label for="route_of_administration" class="form-label">Route of Administration</label>
                <input type="text" class="form-control" id="route_of_administration" name="route_of_administration" required>
            </div>
 
            <div class="col-md-6 mb-3">
                <label for="dosage_instructions" class="form-label">Dosage Instructions</label>
                <textarea class="form-control" id="dosage_instructions" name="dosage_instructions" rows="3" required></textarea>
            </div>

          
            <div class="col-md-6 mb-3">
                <label for="side_effects" class="form-label">Side Effects</label>
                <textarea class="form-control" id="side_effects" name="side_effects" rows="3" required></textarea>
            </div>

        
            <div class="col-md-6 mb-3">
                <label for="packaging_type" class="form-label">Packaging Type</label>
                <input type="text" class="form-control" id="packaging_type" name="packaging_type" required>
            </div>

           
            <div class="col-md-6 mb-3">
                <label for="quantity_in_stock" class="form-label">Quantity in Stock</label>
                <input type="number" class="form-control" id="quantity_in_stock" name="quantity_in_stock" required>
            </div>

        
            <div class="col-md-6 mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" name="price" step="0.01" required>
            </div>
 
            <div class="col-md-6 mb-3">
                <label for="is_prescription_required" class="form-label">Is Prescription Required</label>
                <div class="custom-checkbox-wrapper">
                    <input type="checkbox" class="custom-checkbox" id="is_prescription_required" name="is_prescription_required">
                    <label for="is_prescription_required" class="custom-checkbox-label"></label>
                </div>
            </div>
        </div>
    </form>
</div>
