{%load static%}
<link rel="stylesheet" href="{%static 'css/medicine_form.css'%}">
<div class="col-md-12 mb-3" style="overflow-y: auto; flex: 1; margin-bottom: 10px;height: 70vh">
    <form method="POST" action="{% url 'medicine' %}" id="medicineForm">
        {% csrf_token %}
        <div class="row">
            <input type="hidden" id="id" name="medicine_id" value="">
            
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Medicine Name" required>
                    <label for="name">Medicine Name</label>
                </div>
            </div>
 
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="formulation" name="formulation" placeholder="Formulation" required>
                    <label for="formulation">Formulation</label>
                </div>
            </div>

            
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="strength" name="strength" placeholder="Strength" required>
                    <label for="strength">Strength</label>
                </div>
            </div>

            
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="expiration_date" name="expiration_date" placeholder="Expiration Date" required>
                    <label for="expiration_date">Expiration Date</label>
                </div>
            </div>

          
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="batch_number" name="batch_number" placeholder="Batch Number" required>
                    <label for="batch_number">Batch Number</label>
                </div>
            </div>
 
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="storage_conditions" name="storage_conditions" placeholder="Storage Conditions" style="height: 100px" required></textarea>
                    <label for="storage_conditions">Storage Conditions</label>
                </div>
            </div>

            
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="manufacturer" name="manufacturer" placeholder="Manufacturer" required>
                    <label for="manufacturer">Manufacturer</label>
                </div>
            </div>

          
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="active_ingredients" name="active_ingredients" placeholder="Active Ingredients" style="height: 100px" required></textarea>
                    <label for="active_ingredients">Active Ingredients</label>
                </div>
            </div>

          
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="shelf_life" name="shelf_life" placeholder="Shelf Life" required>
                    <label for="shelf_life">Shelf Life (Months)</label>
                </div>
            </div>

          
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="route_of_administration" name="route_of_administration" placeholder="Route of Administration" required>
                    <label for="route_of_administration">Route of Administration</label>
                </div>
            </div>
 
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="dosage_instructions" name="dosage_instructions" placeholder="Dosage Instructions" style="height: 100px" required></textarea>
                    <label for="dosage_instructions">Dosage Instructions</label>
                </div>
            </div>

          
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="side_effects" name="side_effects" placeholder="Side Effects" style="height: 100px" required></textarea>
                    <label for="side_effects">Side Effects</label>
                </div>
            </div>

        
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="packaging_type" name="packaging_type" placeholder="Packaging Type" required>
                    <label for="packaging_type">Packaging Type</label>
                </div>
            </div>

           
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="quantity_in_stock" name="quantity_in_stock" placeholder="Quantity in Stock" required>
                    <label for="quantity_in_stock">Quantity in Stock</label>
                </div>
            </div>

        
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="price" name="price" step="0.01" placeholder="Price" required>
                    <label for="price">Price</label>
                </div>
            </div>
 
            <div class="col-md-6">
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="is_prescription_required" name="is_prescription_required">
                    <label class="form-check-label" for="is_prescription_required">Prescription Required</label>
                </div>
            </div>
        </div>
    </form>
</div>
