{% load static %}
<link rel="stylesheet" href="{% static 'css/customer_table.css' %}">
<link rel="stylesheet" href="{%static 'css/medecine_table.css'%}">
<link rel="stylesheet" href="{%static 'css/table.css'%}">
<div id="table-container" class="col-md-12 mb-3" style="height: 40vh; overflow-y: auto; resize: vertical;">
    
    <div id="table-search-box" class="d-flex justify-content-between mb-2">
        <div class="medecine-search">
            <input type="text" id="search-medicine" class="form-control" placeholder="Search medicine..." aria-label="Search medicine">
            <button id="search-button" class="btn btn-secondary">
                <i class="fa fa-search"></i> Search
            </button>
        </div>
    </div>

    
 
    <table class="table table-bordered table-striped" id="medicine-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Medicine Name</th>
                <th>Formulation</th>
                <th>Strength</th>
                <th>Batch Number</th>
                <th>Quantity in Stock</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be dynamically populated -->
        </tbody>
    </table>
 
</div>
