{% load static %}
<link rel="stylesheet" href="{% static 'css/purchase_form.css' %}">
<div class="col-md-12 mb-3" style="overflow-y: auto; flex: 1; margin-bottom: 10px; height: 70vh">
    <form method="POST" action="{% url 'purchase' %}" id="purchaseForm">
        {% csrf_token %}
        <input type="hidden" id="id" name="purchase_id" value="">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="consumer" class="form-label">Supplier</label>
                <select class="form-control" id="supplier" name="supplier" required>
                    {% for supplier in suppliers %}
                        <option value="{{ supplier.id }}">{{ supplier.contact_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-6 mb-3">
                <label for="medicine" class="form-label">Medicine</label>
                <select class="form-control" id="medicine" name="medicine" required>
                    {% for medicine in medicines %}
                        <option value="{{ medicine.id }}" data-price="{{ medicine.price }}">{{ medicine.name }} - ${{ medicine.price }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-6 mb-3">
                <label for="quantity" class="form-label">Quantity</label>
                <input type="number" class="form-control" id="quantity" name="quantity" min="1" required>
            </div>

            <div class="col-md-6 mb-3">
                <label for="total_price" class="form-label">Total Price</label>
                <div id="total_price_display" class="currency-display" data-rwf="0">RW0.00</div>
            </div>
        </div>
    </form>
</div>
