{% load static %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{%static 'css/purchase_table.css'%}">
<div id="table-container" class="col-md-12 mb-3">
    <div id="drag-handle" style="display: none; cursor: move; background-color: #f0f0f0; padding: 5px; text-align: center;">
        <i class="fa fa-arrows-alt fa-lg"></i>
    </div>
    <div id="table-search" class="d-flex justify-content-between mb-2">
        
        <div class="purchase-search">
            <input type="text" id="search-purchase" class="form-control" placeholder="Search purchase..." aria-label="Search purchase">
            <button id="search-button" class="btn btn-secondary">
                <i class="fa fa-search"></i> Search
            </button>
        </div>
        <div>
            <button id="pip-toggle" class="btn btn-primary"> <i class="fa fa-expand"></i></button>
        </div>
        <button class="btn btn-outline-tertiary border-0 btn-table-close"> <i class="fa fa-close fa-lg"></i></button>
    </div>

    <table class="table table-bordered table-striped" id="purchase-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Supplier</th>
                <th>Medicine</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Purchase Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
                <tr>
                    <td>{{ purchase.id }}</td>
                    <td>{{ purchase.consumer.first_name }} {{ purchase.consumer.last_name }}</td>
                    <td>{{ purchase.medicine.name }}</td>
                    <td>{{ purchase.quantity }}</td>
                    <td>${{ purchase.total_price }}</td>
                    <td>{{ purchase.purchase_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
