{% load static %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{%static 'css/sales_table.css'%}">

<div id="table-container" class="col-md-12 mb-3">
    <div id="drag-handle" style="display: none; cursor: move; background-color: #f0f0f0; padding: 5px; text-align: center;">
        <i class="fa fa-arrows-alt fa-lg"></i>
    </div>
   
    <div id="table-search-box" class="d-flex justify-content-between mb-2">
        <div class="sales-search">
            <input type="text" id="search-sales" class="form-control" placeholder="Search sales..." aria-label="Search sales">
            <button id="search-button" class="btn btn-secondary">
                <i class="fa fa-search"></i> Search
            </button>
        </div>
        <div>
            <button id="pip-toggle" class="btn btn-primary"> <i class="fa fa-expand"></i></button>
        </div>
        <button class="btn btn-outline-tertiary border-0 btn-table-close"> <i class="fa fa-close fa-lg"></i></button>
    </div>
    <table class="table table-bordered table-striped" id="sales-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Cart</th>
                <th>Date</th>
                <th>Payment Method</th>
                <th>Amount</th>
                <th>Receipt</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
                <tr>
                    <td>{{ sale.id }}</td>
                    <td>{{ sale.customer.first_name }} {{ sale.customer.last_name }}</td>
                    <td>{{ sale.medicine.name }}</td>
                    <td>{{ sale.quantity }}</td>
                    <td>${{ sale.total_price }}</td>
                    <td>{{ sale.sale_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
