{% load static %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<div class="nav-side-menu">
    <div class="brand">
        <img src="{% static 'images/avatar.jpg' %}" alt="profile image" class="avatar">
        <span>{{ request.user.username }}</span>
    </div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li class="{% if active_tab == 'dash' %}active{% endif %}">
                <a href="{%url 'admin_dash'%}?tab=dash">
                    <i class="fa fa-clock fa-lg"></i> Dashboard
                </a>
            </li>

            <li data-toggle="collapse" data-target="#new"  class="{% if active_tab == 'medicine' %}active{% endif %}">

            <a href="{%url 'medicine'%}?tab=medicine"> <i class="fa fa-pills fa-lg"></i> Medicine Management</a></li>
            </li>
          

            <li data-toggle="collapse" data-target="#customer" class="{% if active_tab == 'customer' %}active{% endif %}">
                <a href="#"><i class="fa fa-users fa-lg"></i> Customer Management </a>
            </li>
            

          
            <li data-toggle="collapse" data-target="#supplier" class="{% if active_tab == 'supplier' %}active{% endif %}">
                <a href="#"><i class="fa fa-truck fa-lg"></i> Supplier  Management</a>
            </li>

            <li data-toggle="collapse" data-target="#purchase" class="{% if active_tab == 'purchase' %}active{% endif %}">
                <a href="#"><i class="fa fa-shopping-cart fa-lg"></i> Purchase Management</a>
            </li>
            <li data-toggle="collapse" data-target="#purchase" class="{% if active_tab == 'sales' %}active{% endif %}">
                <a href="#"><i class="fas fa-dollar-sign fa-lg"></i> Sales Management</a>
            </li>
             

            <li>
                <a href="#">
                    <i class="fa fa-search fa-lg"></i> Search
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- jQuery Script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
 $(document).ready(function () {
    const urlParams = new URLSearchParams(window.location.search);
    const activeTab = urlParams.get('tab') || 'dash';  

    // Highlight the active menu item based on the query parameter
    $('.menu-content > li').each(function () {
        const link = $(this).find('a').attr('href');
        if (link && link.includes(`tab=${activeTab}`)) {
            $(this).addClass('active');
        } else {
            $(this).removeClass('active');
        }
    });

    // Handle menu clicks
    $('.menu-content > li > a').on('click', function () {
        $('.menu-content > li').removeClass('active');  
        $(this).addClass('active');  
    });
});

</script>
