{% load static %}
<link rel="stylesheet" href="{% static 'css/supplier_table.css' %}">
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<div id="table-container" class="col-md-12 mb-3">
    
    <div id="drag-handle" style="display: none; cursor: move; background-color: #f0f0f0; padding: 5px; text-align: center;">
        <i class="fa fa-arrows-alt fa-lg"></i>
    </div>
    <div id="table-search-box" class="d-flex justify-content-between mb-2">
        <div class="supplier-search">
            <input type="text" id="search-supplier" class="form-control" placeholder="Search supplier..." aria-label="Search supplier">
            <button id="search-button" class="btn btn-secondary">
                <i class="fa fa-search"></i> Search
            </button>
        </div>
        <div>
            <button id="pip-toggle" class="btn btn-primary"> <i class="fa fa-expand"></i></button>
        </div>
        <button class="btn btn-outline-tertiary border-0 btn-table-close"> <i class="fa fa-close fa-lg"></i></button>
    </div>

    <table class="table table-bordered table-striped" id="supplier-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Contact Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Lead Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be populated dynamically via JavaScript -->
        </tbody>
    </table>
</div>
<script src="{% static 'js/pip-table.js' %}"></script>
