{% load static %}
<link rel="stylesheet" href="{% static 'css/customer_form.css' %}">
<div class="col-md-12 mb-3" style="overflow-y: auto; flex: 1; margin-bottom: 10px; height: 70vh">
    <form method="POST" action="{% url 'supplier' %}" id="supplierForm">
        {% csrf_token %}
        <input type="hidden" id="id" name="supplier_id" value="">
        <div class="row">

            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" name="name" maxlength="255" required placeholder="Supplier Name">
                    <label for="name"  >Supplier Name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="contact_name" name="contact_name" maxlength="255" required placeholder="Contact Name">
                    <label for="contact_name"  >Contact Name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="contact_email" name="contact_email" required placeholder="Contact Email">
                    <label for="contact_email">Contact Email</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="contact_phone" name="contact_phone" maxlength="15" required placeholder="Contact Phone">
                    <label for="contact_phone">Contact Phone</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="address" name="address" rows="3" required placeholder="Address"></textarea>
                    <label for="address" >Address</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="lead_time" name="lead_time" min="0" required placeholder="Lead Time (in days)">
                    <label for="lead_time" >Lead Time (in days)</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="payment_terms" name="payment_terms" maxlength="100" required placeholder="Payment Terms">
                    <label for="payment_terms">Payment Terms</label>
                </div>
            </div>
 
 
        </div>
       
    </form>
</div>

