{% extends "admin_dashboard.html" %}
{% load static %}
{% block main_content %}
<link rel="stylesheet" href="{%static 'css/supplier.css'%}">
    <div class="container mt-0">
        <div class="supplier-header">
            <div>
                <h3><i class="fa fa-truck fa-lg"></i> Supplier Management</h3>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary" onclick="submitForm()"> <i class="fa fa-save"></i> Save</button>
                <a href="{% url 'admin_dash' %}" class="btn btn-secondary"> <i class="fa fa-close"></i> Close</a>
            </div>
        </div>

        <div class="row" style="display: flex; flex-direction: column;">
            {% include 'supplier_form.html' %}
            <div id="resizer" style="height: 10px; background: #ccc; cursor: row-resize;"></div>
            {% include 'supplier_table.html' %}
        </div>

        <script>
            $(document).ready(function () {
                const $resizer = $('#resizer');
                const $tableContainer = $('#table-container');
                let isResizing = false;

                $("#dialog").dialog({
                    autoOpen: false,  
                    modal: true,     
                    width: 400,       
                    height: 250,     
                    
                });

                // rendering functionalites
                const renderSuppliers = (suppliers) => {
                    let el = ``;
                    suppliers.forEach(supplier => {
                        el += `<tr class="supplier-row" data-id="${supplier.id}">
                                    <td><b>ID</b>${supplier.id}</td>
                                    <td><b>Name</b>${supplier.name}</td>
                                    <td><b>Contact Name</b>${supplier.contact_name}</td>
                                    <td><b>Phone</b> <a href="tel:${supplier.contact_phone}"  class="btn border-0">${supplier.contact_phone} <i class="fas fa-external-link-alt"></i></a></td>
                                    <td><b>Email</b> <a href="mailto:${supplier.contact_email}"  class="btn border-0">${supplier.contact_email} <i class="fas fa-external-link-alt"></i></a></td>
                                    <td><b>Address</b>${supplier.address}</td>
                                    <td><b>Lead Time</b>${supplier.lead_time} days</td>
                                    <td><b>Action</b>
                                        <button class="btn btn-outline-danger delete-btn border-0" data-id="${supplier.id}">
                                            <i class="fa fa-trash fa-sm"></i> Delete
                                        </button>
                                    </td>
                                </tr>`;
                    });
                    $("#supplier-table > tbody").html(el);

                    $(".supplier-row").on('click', function () {
                        const supplierId = $(this).data('id');
                        $.get("{% url 'get_supplier' %}", { id: supplierId }, function (response) {
                            if (response.status === 'success') {
                                populateForm(response.supplier);
                            } else {
                                showToast('Failed to load supplier details.', "danger")
                            }
                        });
                    });

                    $(".delete-btn").on('click', function (event) {
                        event.stopPropagation();  
                        const supplierId = $(this).data('id');
                        $("#dialog").dialog("option", "title", "Confirm deletion.");
                        $("#dialog").html(`<p>Do you want to delete this supplier?</p>`);
                        $("#dialog").dialog("option", "buttons", {
                            Ok: function () {
                                $(this).dialog("close");
                                $.ajax({
                                    url: "{% url 'delete_supplier' %}",
                                    type: "DELETE",
                                    data: JSON.stringify({ id: supplierId }),
                                    contentType: 'application/json',
                                    success: function (response) {
                                        if (response.status === 'success') {
                                            showToast(response.message, "success")
                                            renderSuppliers(response.suppliers.reverse());
                                        } else {
                                            showToast(response.message, "danger")
                                        }
                                    },
                                    error: function () {
                                        showToast('An error occurred while deleting the supplier.', "danger")
                                    }
                                });
                            },
                            Cancel: function () {
                                $(this).dialog("close");
                            },
                        });
                        $("#dialog").dialog("open");
                        });
                };


                const populateForm = (supplier) => {
                    $('#id').val(supplier.id);
                    $('#name').val(supplier.name);
                    $('#contact_name').val(supplier.contact_name);
                    $('#contact_email').val(supplier.contact_email);
                    $('#contact_phone').val(supplier.contact_phone);
                    $('#address').val(supplier.address);
                    $('#lead_time').val(supplier.lead_time);
                    $('#payment_terms').val(supplier.payment_terms);
                };


                 $.get("{% url 'get_suppliers' %}", function (response) {
                    if (response.status === 'success') {
                        renderSuppliers(response.suppliers);
                    } else {
                        showToast('Failed to load suppliers.', "danger")
                    }
                }).fail(function () {
                    showToast('Error occurred while fetching suppliers.', "danger")
                });
                
 

                $('#supplierForm').on('submit', function (event) {
                    event.preventDefault();
                    if (!validateForm()) {
                        showToast('Please fill in all fields before submitting.', "danger")
                        return;
                    }
                    let formData = {};
                    $('#supplierForm').find('input, textarea, select').each(function () {
                        formData[$(this).attr('name')] = $(this).val();
                    });
                    const supplierId= $('#id').val();
                    let ajaxOptions = {
                        url:supplierId ? "{% url 'update_supplier' %}" : "{% url 'add_supplier' %}",
                        type: supplierId ? 'PUT' : 'POST',
                        data: JSON.stringify(formData),
                        contentType: 'application/json',
                        success: function (response) {
                            if (response.status === 'success') {
                                showToast(response.message, "success")
                                $("#supplierForm")[0].reset();
                                $('#id').val("");
                                const jsonSuppliers =  supplierId ? response.suppliers : response.suppliers.reverse();
                                renderSuppliers(jsonSuppliers);
                            } else {
                                showToast(response.message, "danger")
                            }
                        },
                        error: function () {
                            showToast('An error occurred while saving the supplier.', "danger")
                        }
                    };

                    $.ajax(ajaxOptions);
                });

                function validateForm() {
                    let isValid = true;
                    $('#supplierForm').find('input, textarea, select').each(function () {
                        if ($(this).prop('required') && !$(this).val()) {
                            isValid = false;
                            $(this).addClass('is-invalid');
                        } else {
                            $(this).removeClass('is-invalid');
                        }
                    });
                    return isValid;
                }
               
                $('#search-supplier').on('input', function () {
                    let searchValue = $(this).val().toLowerCase();
                    $('#supplier-table tbody tr').filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(searchValue) > -1);
                    });
                });

    // Initialize drag and resize functionality
function initializeDraggable() {
    $("#supplier-table-container").draggable({
        handle: "#drag-handle",
        containment: "window",
    });
}

// Initialize resizable
$("#supplier-table-container").resizable({
    alsoResize: "#supplier-table",
    minWidth: 300,
    minHeight: 200,
    disabled: true,
    handles: "all" 
});

// Toggle Picture-in-Picture mode
$("#pip-toggle").click(function () {
    const container = $("#supplier-table-container");
    const pipButtonIcon = $("#pip-toggle i");
    container.toggleClass("pip-mode");
    
    if (container.hasClass("pip-mode")) {
        pipButtonIcon.removeClass("fa-expand").addClass("fa-compress");
        // Initialize draggable when entering PiP mode
        initializeDraggable();
        $("#drag-handle").fadeIn();
    } else {
        pipButtonIcon.removeClass("fa-compress").addClass("fa-expand");
        // Reset position and destroy draggable when exiting PiP mode
        container.draggable('destroy')
            .css({
              
                top: '',
                right: '',
                transform: 'none'
            });
        $("#drag-handle").fadeOut();
    }
});

// Reset position and size when exiting PiP mode
$("#exit-pip").click(function () {
    // Destroy draggable functionality
    $("#supplier-table-container")
        .draggable('destroy')
        .removeClass("pip-mode")
        .css({
            position: 'static',
            top: '',
            left: '',
            padding: '0px',
            height: '',
            transform: 'none'
        });
    
    $("#drag-handle").fadeOut();
});


            });

            
            function submitForm() {
                    $('#supplierForm').submit();
                }
        </script>
    </div>
{% endblock %}
