{% extends "base.html" %}

{% block content %}
 
<div class="container text-center mt-5">
  <h1 class="display-4"><i class="fas fa-heartbeat"></i> Welcome to Pharmacy MS</h1>
  <p class="lead">Your one-stop solution for managing pharmacy operations. Please register or login to get started.</p>
  <div class="mt-4">
    <a href="{% url 'register' %}" class="btn btn-outline-primary btn-lg mx-2">
      <i class="fas fa-user-plus"></i> Register
    </a>
    <a href="{% url 'login' %}" class="btn btn-primary btn-lg mx-2">
      <i class="fas fa-sign-in-alt"></i> Login
    </a>
  </div>
</div>

 

{% endblock %}
