/* Default Table Styles */
#supplier-table-container {
    position: relative;
    transition: all 0.3s ease;
    z-index: 1;
    resize: both; /* Enable both horizontal and vertical resizing */
    overflow: auto; 
    /* Ensure scrollbars appear when content overflows */
}

#supplier-table-container.pip-mode {
    position: fixed;
    top: 60%;
    right: 10px;
    width: 100%; /* Default PiP width */
    height: auto; /* Default PiP height */
    z-index: 1500;
    background-color: #fff;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    resize: both; /* Enable resizing in PiP mode */
    overflow: auto;
    cursor: grab;
}

/* Search Box and Controls */
#table-search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#drag-handle {
    background-color: #ddd;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: move; /* Cursor style for drag handle */
    user-select: none;
}

#supplier-table-container.pip-mode #drag-handle {
    display: block; /* Show drag handle in PiP mode */
}



.pip-mode .ui-resizable-handle {
    display: block;
    position: absolute;
}

/* Ensure corners are visible */
.pip-mode .ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.pip-mode .ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px; }
.pip-mode .ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.pip-mode .ui-resizable-se { cursor: se-resize; width: 9px; height: 9px; right: -5px; bottom: -5px; }

/* Ensure edges are visible */
.pip-mode .ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.pip-mode .ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.pip-mode .ui-resizable-e { cursor: e-resize; width: 7px; height: 100%; right: -5px; top: 0; }
.pip-mode .ui-resizable-w { cursor: w-resize; width: 7px; height: 100%; left: -5px; top: 0; }



.supplier-search{
    display: inline-flex;
    
}
@media (max-width: 768px) {
    .supplier-search button{
         display: none;
         
    }
    .supplier-search input{
        width: 100%;
    }
    
}